<?xml version="1.0" encoding="UTF-8"?>
<model>
    <name>Box Model SDF</name>
    <version>1.0</version>
    <sdf version="1.5">box.sdf</sdf>
    <sdf version="1.4">box-1.4.sdf</sdf>

    <author>
        <name>Mohammad Khusnul Khuluq</name>
        <email>khusnul.ninno15@gmail.com</email>
    </author>

    <description>
        A Box for Follow up Tutorial Gazebo
    </description>
</model>